.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90%;
}

.form button {
  height: 36px;
  border-radius: 4px;
  background-color: #3666ff;
  border: 0;
  color: #fff;
  font-size: 18px;
}
